    
// make centered element to inherit?
@import './vars';


header
    .sliding-bg
        margin: 0 auto
        width: 300px
        height: 200px
        overflow: visible
        border: 5px solid red
        position: relative

        .slides
            position: absolute
            left: 0
            display: flex
            transition: all 0.2s ease-in-out

            div
                width: 300px
                height: 200px

                &:nth-child(1)
                    background: url(images/bg-1.jpg)

                &:nth-child(2)
                    background: url(images/bg-2.jpg)

                &:nth-child(3)
                    background: url(images/bg-3.jpg)
    .header
        position: relative
        height: 100vh
        width: 100%
        // background-image: url(images/bg-1.jpg)  
        // background-position: -100px -230px
        display: flex
        flex-direction: column
        justify-content: center

        overflow: hidden
        
        &__template
            margin: 0px 0px 8px
            font-size: 35px
            text-align: center
            font-weight: normal
            color: $text-color

        &__template-name
            margin: 0px 0px 50px
            font-size: 70px
            text-align: center
            color: #222222
            text-transform: uppercase
            font-weight: normal
        
    .slider
        padding: 0
        display: flex
        justify-content: center
        position: absolute
        bottom: 50px
        left: 50px
        margin: 0
        list-style-type: none


        li
            display: inline-flex
            width: 40px
            height: 28px
            // background: red
            cursor: pointer
            justify-content: center
            flex-direction: column

            .slider__link
                width: 40px
                height: 3px
                background: black
                transition: all 0.2s ease-in-out

                &_active
                    background: white
                
            &:hover
                a
                    background: white

    .arrows
        position: absolute
        right: 100px
        bottom: 50px
        display: flex
        // width: auto

        div
            width: 64px
            height: 64px
            background: #444444
            display: inline-block
            transition: all 0.2s ease-in-out

            &:hover
                background: #af9f8c
            
            &:nth-child(2)
                transform: rotate(180deg)
                
    