    
// make centered element to inherit?
@import './vars';
@mixin for-size($device-name)

    $phones-upper: 576px;

    @if $device-name == 'phones'
        @media screen and (max-width: 575px)
            @content

    @else if $device-name == 'tablets-portrait'
        @media screen and (min-width: 576px) and (max-width: 785px)
            @content

    @else if $device-name == 'tablets-landscape'
        @media screen and (min-width: 786px) and (max-width: 991px)
            @content

    @else if $device-name == 'laptops'
        @media screen and (min-width: 992px) and (max-width: 1229px)
            @content

    @else if $device-name == 'desktops'
        @media screen and (min-width: 1230px)
            @content

header
    position: relative
    width: 100%

    .navbar
        width: 100%
        background: white url(images/header-logo.png) center 10px/40px no-repeat scroll
        position: fixed
        left: 0
        top: 0
        z-index: 500
        padding: 0px 30px
        box-sizing: border-box
        display: flex
        flex-direction: column
        justify-content: space-between
        box-shadow: $shadow
        transition: $smooth-transition
        // height: 50px

        &__links
            display: flex
            height: auto
            top: 0
            left: 0
            width: 100%
            flex-direction: row
            justify-content: space-between
            transition: $smooth-transition

            

            @media screen and (max-width: $desktop-up)
                display: none
                flex-direction: column

            .links-local
                width: 100%
                display: flex
                flex-direction: row
                justify-content: flex-start

                @media screen and (max-width: $desktop-up)
                    flex-direction: column

                &__item
                    display: inline-block
                    cursor: pointer
                    height: 100%

                    .link
                        font-size: 14px
                        display: block
                        height: 100%
                        padding: 16px 16px 16px 0px

            .links-social
                display: flex
                flex-direction: row
                justify-content: flex-end
                width: 40%
                padding: 17px 0px
                

                @media screen and (max-width: $desktop-up)
                    justify-content: flex-start

                &__item
                    vertical-align: middle
                    margin: 0px 6px
                    display: inline

                    .icon
                        fill: #555555

        &__logo
            position: absolute
            top: 10px
            left: 50%
            width: auto
            margin: 0 auto
            margin-left: -30px

            img
                width: 40px

        &__hamburger
            display: none
            width: 50px
            height: 100%
            padding: 5px 5px 5px 0px

            @media screen and (max-width: $desktop-up)
                display: inline
            
                .icon
                    cursor: pointer
                    overflow: visible
                    transition: $smooth-transition

                    line
                        transition: $smooth-transition 



    .slider-viewport

        margin: 0 auto
        width: 100%
        height: 100%
        overflow: hidden
        position: absolute

        .slides
            position: absolute
            width: 300%
            height: 100%
            left: 0
            display: flex
            transition: $smooth-transition

            .slide
                display: flex
                flex-direction: column
                justify-content: center
                width: 100vw
                height: 100vh

                @mixin header-bg-stretch($bg-color, $bg-image)
                    background: $bg-color $bg-image center center/cover no-repeat scroll
            
                &:first-child
                    @include header-bg-stretch(#9C8176, url(images/bg-2.jpg))

                    .header__template, .header__template-name
                        color: white

                    .wheat
                        fill:  white

                &:nth-child(2)
                    @include header-bg-stretch(#C6C8D5, url(images/bg-1.jpg))

                &:last-child
                    @include header-bg-stretch(#6D7783, url(images/bg-3.jpg))

                    .header__template, .header__template-name
                        color: white

                    .wheat
                        fill: white

                .header__template
                    margin: 0px 0px 18px
                    text-align: center
                    color: $text-color

                .header__template-name
                    margin: 0px 0px 50px
                    color: #222222
    .header
        position: relative
        height: 100vh
        width: 100%
        // background-image: url(images/bg-1.jpg)  
        // background-position: -100px -230px
        display: flex
        flex-direction: column
        justify-content: center

        overflow: hidden
        
        
        
    .slider
        padding: 0
        display: flex
        justify-content: center
        position: absolute
        bottom: 10px
        left: 30px
        margin: 0
        list-style-type: none


        li
            display: inline-flex
            width: 40px
            height: 28px
            // background: red
            cursor: pointer
            justify-content: center
            flex-direction: column

            .slider__link
                width: 40px
                height: 3px
                background: black
                transition: all 0.2s ease-in-out

                &_active
                    background: white
                
            &:hover
                a
                    background: white

    .arrows
        position: absolute
        right: 30px
        bottom: -32px
        z-index: 400
        display: flex
        cursor: pointer
        // width: auto

        div
            width: 64px
            height: 64px
            background: #444444
            display: inline-block
            transition: all 0.2s ease-in-out

            &:hover
                background: #af9f8c
                
            
            &:nth-child(2)
                transform: rotate(180deg)

        @include for-size('phones')
            display: none
    