@import './header';
@import './vars';
    
*
    margin: 0
    padding: 0

body
    font-size: 14px
    font-family: 'Montserrat', sans-serif
    color: $text-color

h1, h2, h3, h4, h5, h6
    text-align: center
h1
    font-size: 100px
h2
    font-size: 50px
h3
    font-size: 35px
    color: $h3-color
h4
    font-size: 18px
    text-align: left
    color: $h4-color

a
    text-decoration: none

.wheat
    margin: 0px auto
    fill: $wheat-color

.btn
    font-size: 16.8px
    width: auto
    margin: 0 auto
    color: white
    padding: 16px 24px
    background-color: $money-btn-color
    font-weight: 800
    transition: all 0.2s ease-in-out

@mixin for-size($range)


    $phone-upper-boundary: 768px;
    $tablet-portrait-upper-boundary: 992px;
    $tablet-landscape-upper-boundary: 1230px;
    $desktop-upper-boundary: 1800px;

    @if $range == phone-only 
        @media (max-width: #{$phone-upper-boundary - 1})
            @content
    @else if $range == tablet-portrait-up
        @media (min-width: $phone-upper-boundary)
            @content
    @else if $range == tablet-landscape-up
        @media (min-width: $tablet-portrait-upper-boundary)
            @content
    @else if $range == desktop-up
        @media (min-width: $tablet-landscape-upper-boundary)
            @content
    @else if $range == big-desktop-up
        @media (min-width: $desktop-upper-boundary)
            @content
    

.menu
    padding: 100px 0px
    background-color: white
    &-container
        width: 100%
        max-width: 1200px
        margin: 0 auto
        position: relative
        display: flex
        flex-direction: column
        h3
            margin: 0px 0px 20px
        .wheat
            margin: 0px auto 75px 
        .prices
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr
            grid-column-gap: 60px
            grid-row-gap: 60px
            margin: 0px 0px 60px
            &__elem
                position: relative
                h4
                    margin: 0px 0px 16px
                p
                    font-size: 11.2px
                    color: $text-ingridients-color
                hr
                    border-top: 1px solid $hr-borders-color
                    margin: 0px 0px 16px
                .money
                    position: absolute
                    top: 0
                    right: 0
                    font-size: 35px
                    color: $money-btn-color

.section-benefits
    padding: 100px 0px
    .benefits
        margin: 0 auto
        padding: 0px 30px
        max-width: 1200px
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        &__elem
            padding: 60px
            svg
                fill: $wheat-color
                margin: 0px 0px 30px
            h4
                margin: 0px 0px 10px
            &:nth-child(-n + #{$benefits-cols-lg})
                border-right: 1px solid $hr-borders-color
                border-bottom: 1px solid $hr-borders-color
            &:nth-child(n + #{$benefits-cols-lg})
                border-right: 1px solid $hr-borders-color 
            &:nth-child(#{$benefits-cols-lg}n)
                border-right: none

            @media screen /*! and (min-width: 576px)*/ and (max-width: 767px)
                &:nth-child(n)
                    border: none

            @media screen and (max-width: 575px)
                padding: 30px

        @media screen and (min-width: 1230px)
            max-width: 1200px
        
        @media screen and (min-width: 992px) and (max-width: 1199px)
            max-width: 992px
            // color: red

        @media screen and (min-width: 768px) and (max-width: 991px)
            max-width: 720px
            

        @media screen /*! and (min-width: 576px)*/ and (max-width: 767px)
            max-width: 540px
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr

        @media screen and (max-width: 575px)
            padding: 0

footer
    padding: 75px 0px
    background-color: #232122
    position: relative
    
    &:before
        content: url(images/signature)
        position: absolute
        right: 0
        bottom: 0

    .footer-content
        width: 40%
        margin: 0 auto
        color: white
        text-align: center
        
        img
            max-width: 60px
            margin: 0px 0px 20px
