@import './header';
@import './sections';
@import './footer';
    
*
    margin: 0
    padding: 0
    // outline: none
    box-sizing: border-box
    
    // border: 1px solid red

body
    font-size: 14px
    font-family: 'Montserrat', sans-serif
    color: $text-color

h1, h2, h3, h4, h5, h6
    text-align: center

//  header Bakery
h1
    font-size: 70px
    font-weight: 700

//  Main title
h2
    text-align: left
    font-size: 40px
    font-weight: 700

    

//  header Template
h3
    text-align: left
    font-size: 35px
    font-weight: 600
    color: $h3-color

    @include for-size('phones')
        font-size: 25px


h4
    text-align: left
    font-size: 18px
    font-weight: bold
    color: $h4-color

//  subtitles
h6
    text-align: left
    font-size: 18px
    font-weight: 400
p
    font-size: 14px
    font-weight: 400
    line-height: 1.5em
    // font-family: 'OpenSans'


a
    text-decoration: none !important
    color: black

a, svg
    user-select: none

.wheat
    margin: 0px auto
    fill: $cream-gold-color

.btn
    display: inline-block
    font-size: 16.8px
    width: auto
    margin: 0 auto
    color: white
    padding: 16px 24px
    background-color: $money-btn-color
    font-weight: 700
    transition: all 0.2s ease-in-out
    &:hover
        background: darken($money-btn-color, 10%)

%bg-image
    position: absolute
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    z-index: -100

