@import './vars';

@mixin for-size($device-name)

    $phones_upper: 576px
    $tablets_portrait_upper: 786px
    $tablets_landscape_upper: 992px
    $laptops_upper: 1230px

    @if $device-name == 'phones'
        @media screen and (max-width: $phones_upper - 1)
            @content

    @else if $device-name == 'tablets-portrait'
        @media screen and (min-width: $phones_upper) and (max-width: $tablets_portrait_upper - 1)
            @content

    @else if $device-name == 'tablets-landscape'
        @media screen and (min-width: $tablets_portrait_upper) and (max-width: $tablets_landscape_upper - 1)
            @content

    @else if $device-name == 'laptops'
        @media screen and (min-width: $tablets_landscape_upper) and (max-width: $laptops_upper - 1)
            @content

    @else if $device-name == 'desktops'
        @media screen and (min-width: $laptops_upper)
            @content

@mixin for-size-less($device-name)
    $phones_upper: 576px
    $tablets_portrait_upper: 786px
    $tablets_landscape_upper: 992px
    $laptops_upper: 1230px

    @if $device-name == 'phones'
        @media screen and (max-width: $phones_upper - 1)
            @content

    @else if $device-name == 'tablets-portrait'
        @media screen and (max-width: $tablets_portrait_upper - 1)
            @content

    @else if $device-name == 'tablets-landscape'
        @media screen and (max-width: $tablets_landscape_upper - 1)
            @content

    @else if $device-name == 'laptops'
        @media screen and (max-width: $laptops_upper - 1)
            @content

.wrapper
    margin: 0 auto
    padding: 0px 30px
    @media screen and (min-width: $desktop-up)
        max-width: $desktop-up - 30px
    @media screen and (min-width: $tablet-landscape-up) and (max-width: $desktop-up)
        max-width: $tablet-landscape-up - 30px
    @media screen and (min-width: $tablet-portrait-up) and (max-width: $tablet-landscape-up)
        max-width: $tablet-portrait-up - 30px
    @media screen and (max-width: $tablet-portrait-up)
        max-width: $phone-up - 30px
    
.introduction
    position: relative
    padding: 150px 0px
    
    .description
        max-width: 500px
        margin: 0 auto

        &__divider 
            margin: 0px 0px 30px
            
        &__subtitle
            color: $cream-gold-color
            margin: 0px 0px 8px

        &__title
            color: rgb(34, 34, 34)
            margin: 0px 0px 8px

        @include for-size('tablets-landscape')
            max-width: 560px

        @include for-size('tablets-portrait')
            max-width: 420px

        @include for-size('phones')
            max-width: 540px

    @include for-size('phones')
        padding: 75px 0px
    
    &__bg
        @extend %bg-image
        background: white url(images/signature.png) no-repeat right bottom
        opacity: 0.2
    
.feature-one
    padding: 50px 0px
    background: $cream-light-color

    .cards
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: center
        // border: 1px solid red

        .card-food
            // border: 1px solid green
            position: relative
            vertical-align: middle
            // margin-left: 50px
            margin-top: -100px
            margin-bottom: -100px

            &__img
                // position: relative
                // width: 100%
                max-width: 550px
                margin: 0 auto
                box-shadow: $shadow

                @include for-size('laptops')
                    max-width: 450px

                @include for-size('tablets-landscape')
                    max-width: 320px

                @include for-size-less('tablets-portrait')
                    width: 100%

            @include for-size('tablets-landscape')
                margin: 0 auto

            @include for-size-less('tablets-portrait')
                margin-top: 0
                margin-bottom: 0

        .card-text
            display: inline-block
            // border: 1px solid blue
            margin: auto
            width: 50%
            padding: 50px 50px
            
            &__title
                white-space: pre-line
                margin: 0px 0px 20px

            &__divider
                margin: 0px 0px 30px

            &__description
                margin: 0px 0px 50px

            @include for-size-less('tablets-landscape')
                padding: 0px 50px

            @include for-size-less('tablets-portrait')
                flex-direction: column
                padding: 50px 0px

            @include for-size-less('tablets-portrait')
                width: 100%

        @include for-size-less('tablets-portrait')
            flex-direction: column
        
.benefits

    .benefits-list
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        margin: 100px auto

        .benefit
            padding: 60px

            &__logo
                margin: 0px 0px 30px
                fill: $cream-gold-color

            &__title
                margin: 0px 0px 10px
            
            &:nth-child(-n + #{$benefits-cols-lg})
                border-right: 1px solid $hr-borders-color
                border-bottom: 1px solid $hr-borders-color

            &:nth-child(n + #{$benefits-cols-lg})
                border-right: 1px solid $hr-borders-color 

            &:nth-child(#{$benefits-cols-lg}n)
                border-right: none

            @include for-size-less('tablets-portrait')
                padding: 30px 0px
                &:nth-child(n)
                    border: none    

        @include for-size-less('tablets-portrait')
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr

        @include for-size('phones')
            margin: 50px auto
            padding: 0

.feature-two
    position: relative
    background: url(images/bg-2.jpg) center 100%/cover no-repeat scroll
    
    .card
        position: relative
        bottom: -50px
        width: 500px
        margin-left: 50%
        padding: 60px
        box-shadow: $shadow
        background: white

        &__title
            margin: 0px 0px 30px
            white-space: pre-line

        &__text
            margin: 0px 0px 50px

        @include for-size('laptops')
            width: 750px
            margin-left: 18%
            margin-right: 12% 

        @include for-size('tablets-landscape')
            max-width: 560px
            margin-left: 25%
            margin-right: 9% 

        @include for-size-less('tablets-portrait')
            width: auto
            margin: 0 auto

        @include for-size('phones')
            padding: 30px

.dishes
    background-color: white

    .menu
        display: flex
        flex-direction: column
        margin: 100px auto

        .menu-header    

            &__title
                
                margin: 0px 0px 20px    
                text-align: center

            &__divider
                display: block
                margin: 0px auto 75px 

        .dish-list
            display: grid
            grid-template-columns: 1fr 1fr 1fr
            grid-template-rows: 1fr 1fr 1fr
            grid-column-gap: 60px
            grid-row-gap: 60px
            margin: 0px 0px 60px
            
            .dish
                position: relative

                &__name
                    margin: 0px 0px 16px

                &__description
                    font-size: 0.85em
                    color: $text-ingridients-color

                &__divider
                    background: $hr-borders-color
                    border: 0
                    height: 1px
                    margin: 0px 0px 16px

                &__cost
                    position: absolute
                    top: 0
                    right: 0
                    font-size: 35px
                    color: $money-btn-color

            @include for-size-less('laptops')
                grid-template-columns: 1fr 
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                grid-column-gap: 0
                grid-row-gap: 50px
                max-width: 960px 
            
        @include for-size-less('tablets-portrait')
            max-width: 520px
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr

.testimonials
    padding: 80px 0px 0px
    background: white url(images/bg-testimonials.jpg) center center/cover no-repeat scroll

    &-header

        &__title
            margin-bottom: 8px
            color: white
            text-align: center

        &__divider
            height: 4px
            width: 40px
            margin: 0px auto 50px
            border: 0
            background: $cream-gold-color

    .testimonials-list
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr
        grid-column-gap: 50px

        .testimonial
            position: relative
            padding-bottom: 60px
    
            &-text-wrapper
                position: relative
                padding: 60px
                background-color: white
            
                .testimonial__text
                    margin-bottom: 16px

                .testimonial__author
                    font-size: 11.2px
                    color: grey
                    &:before
                        content: '- '

                &:after
                    content: ''
                    display: block
                    margin: 0 auto
                    width: 50px
                    height: 50px
                    transform: rotate(45deg)
                    background-color: white
                    position: absolute
                    bottom: -15px
                    margin-left: -25px
                    left: 50%

                @include for-size('phones')
                    padding: 30px

            &__avatar
                position: absolute
                display: block
                left: 50%
                margin-left: -30px
                bottom: -30px
                text-align: center
                width: 60px
                height: 60px
                background: url(images/avatar.jpg) center center/cover
                border-radius: 50% 

            @include for-size-less('tablets-portrait')
                margin-bottom: 40px

            @include for-size('tablets-landscape')
                &:nth-child(1)
                    grid-area: t1

                &:nth-child(2)
                    grid-area: t2

                &:nth-child(3)
                    grid-area: t  

        @include for-size-less('tablets-portrait')
            grid-template-columns: 1fr

        @include for-size('tablets-landscape')
            grid-template-columns: 1fr 1fr
            grid-template-areas: "t1 t2" "t t"           
        
.blog
    position: relative
    z-index: 100
    padding: 150px 0px

    .article-and-description

        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .article
            padding: 0px 50px

            .article-card
                background-color: white
                box-shadow: $shadow
                width: 475px
                
                img
                    width: 100% 

                .text
                    padding: 30px 30px 46px 30px

                    .article-title
                        margin-bottom: 8px

                    .article-info
                        margin-bottom: 30px
                        color: grey

                    .social
                        svg
                            fill: grey    
                            vertical-align: middle 
                            cursor: pointer 
                            animation-duration: 0.6s
                            animation-name: heartbeating


                        span
                            font-weight: bolder
                            color: black
                            margin-right: 20px
                            margin-left: 3px
                            vertical-align: middle

                @include for-size('laptops')
                        width: 345px

                @include for-size('tablets-landscape')
                        width: 240px

                @include for-size-less('tablets-portrait')
                        width: auto  

            @include for-size('tablets-landscape')
                padding: 30px                     

            @include for-size-less('tablets-portrait')
                padding: 50px 0px

        @include for-size-less('tablets-portrait')
            flex-direction: column
            padding: 0px 0px

        .description
            padding: 50px

            hr
                border: 0
                height: 4px
                width: 40px
                background: $cream-gold-color
                margin: 0px 0px 30px
            &__main-title
                margin: 0px 0px 8px
            &__text
                margin-bottom: 50px

            @include for-size('tablets-landscape')
                padding: 30px

            @include for-size-less('tablets-portrait')
                padding: 30px 0px

    @include for-size-less('tablets-portrait')
        padding: 0px 0px

    &__bg
        @extend %bg-image
        background: white url(images/bg-doors.jpg) no-repeat center bottom
        opacity: 0.2